*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
ul li{
    display: block;
}
a{ 
    text-decoration: none;
    color: inherit;
}
body{
    overflow-x: hidden;
}

.detail{
    display: block;
    width: 130px; height: 45px;
    line-height: 45px;
    text-align: center;
    color: #333333;
    border: 2px solid #333333;
    transition-duration: 0.3s;
}
.detail:hover{
    color: white;
    background-color: #333333;
}

/* header */
header {
    width: 100%; height: 121px;
    background-color: #F6F5F0;
    position: fixed;
    z-index: 10;
    top: 0px;
}
header > .inner{
    display: flex;
    position: relative;
    width: 1100px; height: 120px;
    margin: 0 auto;
}
header #logo{
    display: block;
    align-self: center;
}

/* header -> nav */
header ul{
    display: flex;
    position: absolute;
}
header #utility_menu{
    top: 5px; right: 0px;
    font-size: 12px;
}

header #utility_menu li{
    margin: 0px 5px;
    line-height: 30px;
    color: grey;
    position: relative;
}
header #utility_menu li a:hover{color: black;}
header #utility_menu input{
    display: block;
    width: 30px;
    height: 30px;
    border: lightgray solid 1px;
    transition-duration: 0.5s;
    outline: none;
}
header #utility_menu input:focus{
    width: 150px;
    border: green solid 1px;
}
header #utility_menu i{
    position: absolute;
    top: 10px; right: 10px;
    pointer-events: none;
    transition-duration: 0.5s;
}

header #main_menu{
    right: 0px; bottom: 0px;
    font-size: 13px;
}
header #main_menu li{
    position: relative;
    height: 55px;
    margin: 0px 5px; padding: 5px 20px;
    border-radius: 10px 10px 0px 0px;
}


/* menu detail 표시 */
header .menu_details{
    display: none;
    position: absolute;
    top: 120px;
    width: 100%;
    color: white;
    background-color: #2C2A29;
}
.menu_details .inner{
    display: flex;
    flex-wrap: wrap;
    width: 1100px;
    margin: 0 auto;
}
.menu_details .inner ul{
    display: block;
    position: static;
    width: 220px;
}
.menu_details .inner ul > h4{
    height: 45px;
    line-height: 45px;
    margin-top: 10px;
}
.menu_details .inner ul > li{
    font-size: 12px;
    color: #999999;
    margin: 10px 0px;
}
.menu_details .inner ul > li:hover{
    color: #669900;
}

header .menuImg{
    width: 100%;
    background-image: url('webres-starbucks/images/main_menu_pattern.jpg');
}
header .menuImg .inner{
    display: block;
    height: auto;
    padding: 20px 0px;
}
header .menuImg .inner p{
    font-size: 12px;
    margin-bottom: 7px;
    height: 50px;
    line-height: 25px;
}
header .menuImg .inner span{
    color: green;
}


/* 상단에 있을 때 표시되는 오른쪽 위 이벤트 정보 */
header .side_eventInfo{
    width: 130px; height: 300px;
    overflow: hidden;
    position: fixed;
    right: 10px;
    top: 130px;
    z-index: 500;
}
header .side_eventInfo img{
    display: block;
    margin-bottom: 10px;
    border-radius: 10px;
}
/* 상단으로 이동 버튼 */
#scrollToTop{
    width: 50px; height: 50px;
    transform: translateX(100px);
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: white solid 2px;

    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    background-color: rgb(36, 36, 36);
    z-index: 50;
    transition-duration: 0.5s;
}

/* visual background */
#visual_bg{
    width: 100%; height: 646px;
    margin-top: 121px;
    background-image: url('webres-starbucks/images/visual_bg.jpg');
}
#visual_bg .inner{
    width: 1100px; height: 646px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}
#visual_bg .inner .visual_title{
    width: 470px;
    margin-top: 50px;
}
#visual_bg .inner .visual_title .detail{
    width: 100px;
    margin: 15px auto;
    line-height: 45px;
    color: #592B18;
    border: 2px solid #592B18;
}
#visual_bg .inner .visual_title .detail:hover{
    color: white;
    background-color: #592B18;
}
#visual_bg .inner > img{display: block; position: absolute;}
#visual_bg .inner .oatmeal_img{right: 0; bottom: 0px;}
#visual_bg .inner .oatmeal_text{right: 200px; top: 30px;}
#visual_bg .inner .caramel_img{right: 200px; bottom: 0px;}
#visual_bg .inner .caramel_text{right: 450px; bottom: 240px;}
#visual_bg .inner .spoon{right: 450px; bottom: 0px;}

/* visual background fade-in effect*/
.fade-hidden{
    opacity: 0;
    transition-duration: 1s;
}
.fade-in{
    opacity: 1;
}
.fade-middle{
    opacity: 0.5;
}

/* 공지사항, 스타벅스 프로모션 */
#inform{width: 100%; overflow: hidden;}
#inform #inform_head{
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 60px;
    font-size: 20px;
    line-height: 50px;
}
#inform #inform_head div{
    display: flex;
    width: 55%; height: 60px;
    font-size: 20px;
    line-height: 60px;
    justify-content: end;
    color: white;
    background-color: black;
}
#inform #inform_head div span{
    width: 60px; height: 60px;
    text-align: center;
    clip-path: circle(25%);
    color: black;
    background-color: white;
}
#inform #inform_head div ul{
    display: block;
    width: 500px;
    margin-left: 20px;
    font-size: 15px;
    overflow: hidden;
}
#inform #inform_head div ul li{width: 500px; height: 60px; transition-duration: 0.5s;}

#inform #inform_head > p{
    width: 45%; height: 60px;
    padding: 5px 5px 0px 250px;
}

#inform .promotion{
    width: 100%; height: 620px;
    overflow: hidden;
}
#inform .promotion .swiper-container{
    width: 2500px;
    height: 620px;
    /* padding: 10px; */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
    overflow: hidden;
}
#inform .promotion .swiper-slide{
    text-align: center;
    
}
#inform .promotion .slide_button{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 250px;
    text-align: center;
    font-size: 30px;
    border-radius: 50%;
    border: 1px solid black;
    z-index: 5;
    transition-duration: 0.5s;
}
#inform .promotion .slide_button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
#inform .promotion .left{
    left: 750px;
}
#inform .promotion .right{
    right: 750px;
}
#inform .promotion .swiper-pagination{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#inform .promotion .swiper-pagination-bullet{
    width: 10px;
    height: 10px;
    background-image: url(webres-starbucks/images/promotion_slide_pager.png);
    background-color: rgba(0, 128, 0, 0);
    opacity: 1;
    background-size: cover;
}
#inform .promotion .swiper-pagination-bullet-active{
    /* opacity: 1; */
    background-color: rgba(0, 0, 255, 0);
    background-image: url(webres-starbucks/images/promotion_slide_pager_on.png);
    background-size: cover;
}

/* My Starbucks Rewords 배너 */
#reword{
    display: flex;
    width: 100%; height: 241px;
    margin: 0 auto;
    z-index: 5;
}
#reword::before{
    display: block;
    content: ' ';
    width: 50%; height: 241px;
    background-color: #272727;
    z-index: 4;
}
#reword::after{
    display: block;
    content: ' ';
    width: 50%; height: 241px;
    background-color: #d5c798;
    z-index: 4;
}
#reword .reword_img{
    width: 1100px;height: 241px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-image: url('webres-starbucks/images/rewards.jpg');
    z-index: 5;
}
#reword .reword_img > div{
    display: flex;
    flex-wrap: wrap;
    width: 250px; height: 120px;
    position: absolute;
    right: 0; bottom: 0;
}
#reword .reword_img > div a{
    display: block;
    text-align: center;
    line-height: 50px;
    transition-duration: 0.5s;
}
#reword .reword_img .signUp{
    width: 140px; height: 50px;
    margin-right: 10px;
    border: 2px solid black;
    color: white;
    background-color: black;
}
#reword .reword_img .signUp:hover{
    color: black;
    background-color: #d5c798;
}
#reword .reword_img .logIn{
    width: 100px; height: 50px;
    border: 2px solid black;
}
#reword .reword_img .logIn:hover{color: white; background-color: black;}
#reword .reword_img .gift{
    width: 250px; height: 50px;
    border: 2px solid black;
}
#reword .reword_img .gift:hover{color: white; background-color: black;}


/* 유튜브 영상 div */
#youtube{
    width: 100%; height: 700px;
    background-color: grey;
    position: relative;
}
#youtube .inner{
    width: 1300px; height: 700px;
}
iframe{
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#youtube::before{
    content: '';
    display: block;
    width: 1244.44px; height: 700px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background-image: url('webres-starbucks/images/video_cover_pattern.png');
}
#youtube .inner img{
    position: absolute;
    z-index: 2;
    transition-duration: 5s;
}
#youtube .img1{
    top: 100px;
    left: 100px;
}
#youtube .img2{
    top: 400px;
    left: 200px;
}
#youtube .img3{
    top: 500px;
    right: 100px;
}

/* sections 메뉴 자세히보기*/
.inner{
    width: 1100px; height: 400px;
    position: relative;
    margin: 0 auto;
}

.slide-in-left{
    transition-duration: 2s;
}
.slide-in-right{
    transition-duration: 2s;
}

#coffee_blend{
    width: 100%; height: 400px;
    background-image: url('webres-starbucks/images/season_product_bg.jpg');
}
#coffee_blend .inner img{
    display: block;
    position: absolute;
}
#coffee_blend .inner > div{
    width: 600px; height: 400px;
    position: absolute; right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#coffee_blend .inner > div p{font-size: 20px; margin-bottom: 10px;}
#coffee_blend .inner > div p b{font-size: 28px;}
#coffee_blend .inner > div span{margin-bottom: 30px;}


#reserve_coffee{
    width: 100%; height: 400px;
    background-image: url('webres-starbucks/images/reserve_bg.jpg');
}
#reserve_coffee .inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#reserve_coffee .inner img{display: block;}
#reserve_coffee .inner div{
    width: 450px; height: 160px;
    padding: 15px;
    margin: 0 20px;
}
#reserve_coffee .inner div h1{color: white;}
#reserve_coffee .inner div p{font-size: 14px; color: #D9AA8A; margin: 15px 0;}
#reserve_coffee .inner .detail{
    color: #D9AA8A;
    border: 2px solid #D9AA8A;
}
#reserve_coffee .inner .detail:hover{
    color: white;
    background-color: #D9AA8A;
}


#pick_your_favorite{
    display: flex;
    justify-content: center;
    width: 100%; height: 700px;
    background-image: url('webres-starbucks/images/favorite_bg.jpg');
    background-size: cover;
    background-attachment: fixed;
}
#pick_your_favorite .inner{
    display: flex;
    width: 500px; height: 700px;
    position: relative;
    right: 400px;

    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: end;
}
#pick_your_favorite .inner img{display: block; margin: 20px 0px;}
#pick_your_favorite .detail{
    color: white;
    border: 2px solid white;
    margin: 20px 0px;
}
#pick_your_favorite .detail:hover{
    color: black;
    background-color: white;
}


#reserve_stores{
    display: flex;
    width: 100%; height: 600px;
    background-image: url('webres-starbucks/images/reserve_store_bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    justify-content: center;
    flex-wrap: wrap;
}
#reserve_stores .medal{
    width: 334px; height: 334px;
    align-self: center;
    position: absolute;
    perspective: 1000px; /* 3D 효과를 위한 시점 */
}
.medal .medal_inner{
    position: relative;
    width: 100%;
    height: 100%;
    transition-duration: 0.5s;
    transform-style: preserve-3d;
}
.medal:hover .medal_inner{
    transform: rotateY(180deg);
}
.medal .medal_inner div{
    position: absolute;
    width: 100%; height: 100%;
    backface-visibility: hidden;
    
}
.medal .detail{
    margin: 0 auto;
    margin-top: 250px;
    cursor: pointer;
}

#reserve_stores .medal_front{
    background-image: url('webres-starbucks/images/reserve_store_medal_front.png');
}
#reserve_stores .medal_back{
    background-image: url('webres-starbucks/images/reserve_store_medal_back.png');
    transform: rotateY(180deg);
}


#find_stores{
    width: 100%; height: 400px;
    position: relative;
    background-image: url('webres-starbucks/images/find_store_bg.jpg');
}
#find_stores .inner > img{display: block; position: absolute;}
#find_stores .inner .img_box img{display: block; position: absolute;}
#find_stores .inner .texture1{top: 0px; left: 378.5px;}
#find_stores .inner .texture2{bottom: 0px; right: 20px;}
#find_stores .inner > div{
    width: 550px; height: 400px;
    float: left;
}
#find_stores .inner .circle_img{clip-path: circle(50%);}
#find_stores .inner .find_store_picture1{bottom: 100px;}
#find_stores .inner .find_store_picture2{left: 200px; bottom: 50px;}
#find_stores .inner .text_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#find_stores .inner .text_box > img{margin:20px 0px;}


#awards{
    width: 100%; height: 120px;
    background-color: #272727;
    border-bottom: solid #353535 1px;
}
#awards .inner{
    width: 1160px;
    height: 120px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#awards .swiper-container{
    display: flex;
    width: 1000px;
    height: 120px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}
#awards .swiper-container .swiper-slide{
    display: flex;
    height: 120px;
    align-items: center;

}

#awards .arrow{
    width: 80px; height: 80px;
    position: absolute;
    top: 20px;
    font-size: 32px;
    color: lightgrey;
    text-align: center;
    line-height: 75px;
    border-radius: 50%;
    border: 1px solid lightgrey;
    transition-duration: 0.5s;
}
#awards .arrow:hover{
    background-color: lightgrey;
    color: black;
}
#awards .awards_left_scroll_button{left: 0px;}
#awards .awards_right_scroll_button{right: 0px;}

/* footer */
footer{
    width: 100%; height: 330px;
    padding-top: 50px;
    background-color: #272727;
    overflow: hidden;
}
footer ul{
    display: flex;
    justify-content: center;
}
footer .footer_inform{
    margin-top: 20px;
}

footer .footer_inform li{
    margin: 0px 7px;
    font-size: 15px;
    color: white;
    cursor: pointer;
}
footer .footer_inform li:first-child{
    color: green;
}

footer div{
    display: flex;
    margin-top: 30px;
    justify-content: center;
}
footer div .footer_details{
    width: 150px;
    height: 40px;
    border: white solid 3px;
    margin: 0 10px;
    line-height: 40px;
    color: white;
    transition-duration: 0.5s;
}
footer div .footer_details:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

footer .numbers_and_names{
    margin-top: 30px;
}
footer .numbers_and_names li{
    margin: 0px 7px;
    font-size: 15px;
    color: grey;
}
footer p{
    text-align: center;
    margin-top: 10px;
    color: grey;
}
footer img{
    display: block;
    margin: 20px auto;
}